#main article {
  opacity: 1;
}

@media screen and (max-width: 736px) {
  #main article {
    width: auto
  }
}

#main article.active.timeout {
  z-index: 2;
}

.tab_container {
  padding-bottom: 1em;
  background-color: rgb(39, 39, 39);
  border:1px solid #636363;
  margin: 0 auto;

  .p_bold {
    font-size: 32px;
    font-weight: bold;
  }

  .character_head {
    display: flex;
    margin-bottom: 10px;
    
    .icon-logo-F {
      flex-basis:auto;
      font-size: 100px;
      margin: auto;
    }
    .icon-logo-UA,
    .icon-logo-G,
    .icon-logo_G_outline {
      flex-basis:auto;
      font-size: 80px;
      margin: auto;
    }
  }
}
.tab_item {
  padding-top: 5px;
  height: 30px;
  width: calc(100%/4);
  border-bottom: 3px solid #636363 ;
  background-color: #222222;
  text-align: center;
  color: #fff;
  display: block;
  float: left;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}
input[name="tab_item"] {
  display: none;
}

.tab_content {
  display: none;
  padding: 1em 1em 0;
  clear: both;
  overflow: hidden;
}
#tab1:checked ~ #tab1_content,
#tab2:checked ~ #tab2_content,
#tab3:checked ~ #tab3_content,
#tab4:checked ~ #tab4_content {
  display: block;
}
.tab_container input:checked + .tab_item {
  background-color: #636363 ;
  color: #fff;
}

input[type="radio"] + label:before {
  display: none;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  font-size: 10px;
}


p {
  margin: 10px 0 20px;
  span{
    color: #fff57d;
  }
} 

.ng {
  margin-top: 10px;
}

input[type="radio"] + label {
  padding-right: 0;
  padding-left: 0;
}

.border {
  border-bottom: solid 1px #636363;
}